In [8]:
import pandas as pd
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

filename = "peoples.csv"
normal_born = "people_born_normal.csv"
data_06 = "people_data_06.csv"
data_07 = "people_data_07.csv"
married = "people_married.csv"

In [9]:

df = pd.DataFrame({
    "year":[i for i in range(1911,2020)]
})
df['current_age'] = 2022 - df['year']

df07 = pd.read_csv(data_07)
df07['born_year_07'] = 2020 - df07['年龄']

df06 = pd.read_csv(data_06)
df06['born_year_06'] = 2010 - df06['年龄']

result = pysqldf("""
select 
    df.year,
    df.current_age as current_age,
    df06.合计 as t06, 
    df07.合计 as t07,
    (df07.合计 - df06.合计)/10000 as diff
from df 
left join df06 
on df.year = df06.born_year_06 
left join df07 
on df.year = df07.born_year_07
""")

In [10]:
result.to_csv("result.csv")